# coding: utf-8

"""
    Tigerblood

    IP Reputation Service API

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
"""

from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class ViolationApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def violations_ip_put(self, ip, violation, **kwargs):
        """
        upsert reputation for an IP by violation
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.violations_ip_put(ip, violation, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ip: IP of reputation to update (required)
        :param str violation: violation type to report (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.violations_ip_put_with_http_info(ip, violation, **kwargs)
        else:
            (data) = self.violations_ip_put_with_http_info(ip, violation, **kwargs)
            return data

    def violations_ip_put_with_http_info(self, ip, violation, **kwargs):
        """
        upsert reputation for an IP by violation
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.violations_ip_put_with_http_info(ip, violation, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ip: IP of reputation to update (required)
        :param str violation: violation type to report (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ip', 'violation']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method violations_ip_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ip' is set
        if ('ip' not in params) or (params['ip'] is None):
            raise ValueError("Missing the required parameter `ip` when calling `violations_ip_put`")
        # verify the required parameter 'violation' is set
        if ('violation' not in params) or (params['violation'] is None):
            raise ValueError("Missing the required parameter `violation` when calling `violations_ip_put`")

        resource_path = '/violations/{ip}'.replace('{format}', 'json')
        path_params = {}
        if 'ip' in params:
            path_params['ip'] = params['ip']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'violation' in params:
            body_params = params['violation']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))
